In [1]:
import pandas as pd
from imblearn.over_sampling import SMOTE

# for reproducibility purposes
seed = 100
# SMOTE number of neighbors
k = 1

df = pd.read_csv("Dataset2.csv")
df.describe()

,Age_of_Subject,Time_spent_on_Online_Class,Time_spent_on_self_study,Time_spent_on_fitness,Time_spent_on_sleep,Time_spent_on_social_media,Number_of_meals_per_day
count,1182.000000,1182.000000,1182.000000,1183.000000,1183.000000,1182.000000,1182.000000
mean,20.165821,3.208841,2.875212,0.765385,7.871344,2.365694,2.917936
std,5.516467,2.101756,1.995618,0.724300,1.615083,1.767336,0.828698
min,7.000000,0.000000,0.000000,0.000000,4.000000,0.000000,1.000000
25%,17.000000,2.000000,2.000000,0.000000,7.000000,1.000000,2.000000
50%,20.000000,3.000000,2.000000,1.000000,8.000000,2.000000,3.000000
75%,21.000000,5.000000,4.000000,1.000000,9.000000,3.000000,3.000000
max,59.000000,10.000000,10.000000,5.000000,15.000000,10.000000,8.000000

In [ ]:
# make a new df made of all the columns, except the target class
X = df[[ 'Time_spent_on_Online_Class', 'Time_spent_on_self_study','Time_spent_on_fitness', 'Time_spent_on_sleep', 'Number_of_meals_per_day']]
y = df['Time_spent_on_social_media']
sm = SMOTE()
X_res, y_res = sm.fit_resample(X, y)

df = pd.concat([pd.DataFrame(X_res), pd.DataFrame(y_res)], axis=1)

df.to_csv('df_smoted.csv', index=False, encoding='utf-8')