In [5]:
import pandas as pd
from imblearn.over_sampling import SMOTE

# for reproducibility purposes
seed = 100
# SMOTE number of neighbors
k = 1

df = pd.read_csv("Dataset.csv")
df.describe()

,Age of Subject,Time spent on Online Class,Time spent on self study,Time_spent_on_fitness,Time_spent_on_sleep,Time_spent_on_social_media,Number of meals per day,Good_Mental_Health,Bad Mental Health,Good Performance,Standard Fitness,Standard Sleep,Standard Watching TV,Standard Using Social Media
count,1182.000000,1182.000000,1182.000000,1183.000000,1183.000000,1182.000000,1182.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0
mean,20.165821,3.208841,2.875212,0.765385,7.871344,2.365694,2.917936,76.0,1106.0,25.0,605.0,785.0,1075.0,80.0
std,5.516467,2.101756,1.995618,0.724300,1.615083,1.767336,0.828698,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,7.000000,0.000000,0.000000,0.000000,4.000000,0.000000,1.000000,76.0,1106.0,25.0,605.0,785.0,1075.0,80.0
25%,17.000000,2.000000,2.000000,0.000000,7.000000,1.000000,2.000000,76.0,1106.0,25.0,605.0,785.0,1075.0,80.0
50%,20.000000,3.000000,2.000000,1.000000,8.000000,2.000000,3.000000,76.0,1106.0,25.0,605.0,785.0,1075.0,80.0
75%,21.000000,5.000000,4.000000,1.000000,9.000000,3.000000,3.000000,76.0,1106.0,25.0,605.0,785.0,1075.0,80.0
max,59.000000,10.000000,10.000000,5.000000,15.000000,10.000000,8.000000,76.0,1106.0,25.0,605.0,785.0,1075.0,80.0