In [19]:
import pandas as pd
from imblearn.over_sampling import SMOTE

# for reproducibility purposes
seed = 100
# SMOTE number of neighbors
k = 1

df = pd.read_csv("Dataset3.csv")
df.describe()

,Age_of_Subject,Time_spent_on_Online_Class,Rating_of_Online_Class_experience,Medium_for_online_class,Time_spent_on_self_study,Time_spent_on_fitness,Time_spent_on_sleep,Time_spent_on_social_media,Prefered_social_media_platform,Number_of_meals_per_day,Change_in_your_weight,Health_issue_during_lockdown,Time_utilized,Do_you_find_yourself_more_connected_with_your_family_close_friends _relatives,Mental_Health
count,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000
mean,20.165821,3.208841,2.845178,1.521997,2.875212,0.765821,7.871235,2.365694,5.483080,2.917936,0.724196,0.136210,0.485618,0.703046,0.608291
std,5.516467,2.101756,1.204236,0.781306,1.995618,0.724451,1.615762,1.767336,1.755398,0.828698,0.744206,0.343156,0.500005,0.457110,0.488339
min,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,17.000000,2.000000,2.000000,1.000000,2.000000,0.000000,7.000000,1.000000,5.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,20.000000,3.000000,3.000000,1.000000,2.000000,1.000000,8.000000,2.000000,6.000000,3.000000,1.000000,0.000000,0.000000,1.000000,1.000000
75%,21.000000,5.000000,4.000000,2.000000,4.000000,1.000000,9.000000,3.000000,7.000000,3.000000,1.000000,0.000000,1.000000,1.000000,1.000000
max,59.000000,10.000000,5.000000,7.000000,10.000000,5.000000,15.000000,10.000000,13.000000,8.000000,2.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
# make a new df made of all the columns, except the target class
X = df[['Age_of_Subject', 'Time_spent_on_Online_Class', 'Rating_of_Online_Class_experience','Medium_for_online_class', 'Time_spent_on_self_study', 'Time_spent_on_fitness','Time_spent_on_sleep','Time_spent_on_social_media','Number_of_meals_per_day','Change_in_your_weight','Health_issue_during_lockdown','Time_utilized']]
y = df['Time_spent_on_social_media']
sm = SMOTE(sampling_strategy='auto', k_neighbors=k, random_state=seed)
X_res, y_res = sm.fit_resample(X, y)


df = pd.concat([pd.DataFrame(X_res), pd.DataFrame(y_res)], axis=1)

df.to_csv('df_smoted.csv', index=False, encoding='utf-8')